#
# Copyright 2022- IBM Inc. All rights reserved
# SPDX-License-Identifier: Apache2.0
#
name: CI
on:
  pull_request:
  push:
    branches:
    - main
    tags:
    - v*
            
jobs:
  Build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - spark: 3.2.0
            scala: 2.12.15
          - spark: 3.2.0
            scala: 2.13.5
          - spark: 3.2.1
            scala: 2.12.15
          - spark: 3.2.1
            scala: 2.13.5
          - spark: 3.3.0
            scala: 2.12.15
          - spark: 3.3.0
            scala: 2.13.8
    runs-on: ubuntu-latest
    env:
      SPARK_VERSION: ${{ matrix.spark }}
      SCALA_VERSION: ${{ matrix.scala }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup JDK
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 11
        cache: sbt
    - name: Prepare build
      shell: bash
      run: ./.github/prepare-build.sh
    - name: Package
      shell: bash
      run: |
        sbt package
        sbt makePom
    # - name: Upload to maven
    #   shell: bash
    #   run: ./.github/publish_maven.sh
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Upload package
      uses: actions/upload-artifact@v3
      with:
        name: packages
        path: target/scala*/*.jar
