#
# Copyright 2022- IBM Inc. All rights reserved
# SPDX-License-Identifier: Apache2.0
#
name: CI
on:
  pull_request:
  push:
    branches:
    - main
    tags:
    - v*
            
jobs:
  Build:
    strategy:
      fail-fast: true
      matrix:
        include:
          - spark: 3.1.2
            scala: 2.12.10
          - spark: 3.1.3
            scala: 2.12.10
    runs-on: ubuntu-latest
    env:
      SPARK_VERSION: ${{ matrix.spark }}
      SCALA_VERSION: ${{ matrix.scala }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup JDK
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 11
        cache: sbt
    - name: Prepare build
      shell: bash
      run: ./.github/prepare-build.sh
    - name: Package
      shell: bash
      run: |
        sbt package
        sbt makePom
    - name: Upload to maven
      if: startsWith(github.ref, 'refs/tags/v')
      shell: bash
      run: ./.github/publish_maven.sh
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Upload release
      if: startsWith(github.ref, 'refs/tags/v')
      uses: softprops/action-gh-release@v1
      with:
        files: target/scala*/*.jar
